<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/tms</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">paswoord</property>
    <mapping resource="be/pxl/publictms/pojo/Bericht.hbm.xml"/>
    <mapping resource="be/pxl/publictms/pojo/Werknemer.hbm.xml"/>
    <mapping resource="be/pxl/publictms/pojo/Laadgegevens.hbm.xml"/>
    <mapping resource="be/pxl/publictms/pojo/Taal.hbm.xml"/>
    <mapping resource="be/pxl/publictms/pojo/Klant.hbm.xml"/>
    <mapping resource="be/pxl/publictms/pojo/Transportadres.hbm.xml"/>
    <mapping resource="be/pxl/publictms/pojo/Actie.hbm.xml"/>
    <mapping resource="be/pxl/publictms/pojo/Oplegger.hbm.xml"/>
    <mapping resource="be/pxl/publictms/pojo/Postcode.hbm.xml"/>
    <mapping resource="be/pxl/publictms/pojo/Voertuig.hbm.xml"/>
    <mapping resource="be/pxl/publictms/pojo/Rijbewijsgegevens.hbm.xml"/>
    <mapping resource="be/pxl/publictms/pojo/Adres.hbm.xml"/>
    <mapping resource="be/pxl/publictms/pojo/Persoonsinfo.hbm.xml"/>
    <mapping resource="be/pxl/publictms/pojo/Contact.hbm.xml"/>
    <mapping resource="be/pxl/publictms/pojo/Opdracht.hbm.xml"/>
    <mapping resource="be/pxl/publictms/pojo/Facturatie.hbm.xml"/>
    <mapping resource="be/pxl/publictms/pojo/Gebruiker.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
